
<!-- TODO use parameters / variables ? or generate with JS (to match all gameModes) -->

<div class="roundedMenu headers cityIcon">
    <h1>City Guessing</h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Gamemode Profile</h2>
    <ul>
        <li class="menuButton" id="profile_1" onclick="gameModeManager.startGame(data.gameMode.gm1, data.gameModeProfile.p1);"></li>
        <li class="menuButton" id="profile_2" onclick="gameModeManager.startGame(data.gameMode.gm1, data.gameModeProfile.p2);"></li>
        <li class="menuButton" id="profile_3" onclick="gameModeManager.startGame(data.gameMode.gm1, data.gameModeProfile.p3);"></li>
        <li class="menuButton" id="profile_4" onclick="gameModeManager.startGame(data.gameMode.gm1, data.gameModeProfile.p4);"></li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>