

<div class="roundedMenu headers cityIcon">
    <h1>City Guessing</h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Profile</h2>
    <ul>
        <li class="menuButton noLinebreak" id="profile_1"></li>
        <li class="menuButton noLinebreak" id="profile_2"></li>
        <li class="menuButton noLinebreak" id="profile_3"></li>
        <li class="menuButton noLinebreak" id="profile_4"></li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>