
<div class="roundedMenu headers cityIcon">
    <h1>City Guessing</h1>
</div>

<div id="timerTest">
    <div id="innerTimer"></div>
    <span>Round 1/5</span>
</div>

<div id="midScreenMessage"></div>

<div class="roundedMenu" id="bottomScoreboard">

<!--
    <table>
        <tr>
            <td><h3>Score:</h3></td>   <td class="userName">Test1:</td> <td>35</td>   <td class="userName">Test2:</td> <td>56</td>
        </tr>
    </table>-->
    <h3>Score:</h3>
    <ul>
    </ul>

</div>

<script type="text/javascript">
    var w;
    if(typeof(Worker) !== 'undefined'){
        if(typeof(w) === 'undefined'){
            w = new Worker('js/timer2.js');

            w.onmessage = function(event){

//                            console.log(parseInt(event.data));
                $('#innerTimer').animate({
                    'right': parseInt(event.data)+'%'
                }, 300);
            };

        }
    }
</script>