
<!-- TODO use parameters / variables ? or generate with JS (to match all gameModes) -->

<div class="roundedMenu headers cityIcon">
    <h1>City Guessing</h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Gamemode Profile</h2>
    <ul>
        <li class="menuButton" id="profile_1" onclick="gameMode_1.init(gameModeManager.gm1, gameModeManager.p1);"></li>
        <li class="menuButton" id="profile_2" onclick="gameMode_1.init()">geo</li>
        <li class="menuButton" id="profile_3" onclick="gameMode_1.init()">geo + borders</li>
        <li class="menuButton" id="profile_4" onclick="gameMode_1.init()">no choices (dist)</li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>