

<div class="roundedMenu headers">
    <h1 id="hardnessMenuHeading"> </h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Hardness</h2>

    admin is setting hardness...<br><br><br>
    <div id="localHardnessTest">
        (local hardness testing)<br>
        <input type="button" onclick="gameModeManager.startGame(0,null)" value="medium"/><br>
        <input type="button" onclick="gameModeManager.startGame(-1,'DE')" value="easy germany"/><br>
        <input type="button" onclick="gameModeManager.startGame(1,null)" value="hard"/>
    </div>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>