
<div class="roundedMenu headers mountainIcon">
    <h1>Geo Guessing</h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Gamemode</h2>
    <ul>
        <li class="menuButton" onclick="gameProfileMenu.init(1)">City Guessing</li>
        <li class="menuButton" onclick="gameProfileMenu.init(2)">River Guessing</li>
        <li class="menuButton" onclick="gameProfileMenu.init(3)">Country Guessing</li>
        <li class="menuButton" onclick="gameProfileMenu.init(4)">... Guessing</li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
        <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
    </ul>
</div>
