
<div class="roundedMenu headers" id="mainHeader">
    <h1>Geo Guessing</h1>
</div>

<div class="roundedMenu centeredMenu">
    <h2>Gamemode</h2>
    <ul>
        <li class="menuButton" onclick="gameMode_1.init()">City Guessing</li>
        <li class="menuButton" onclick="gameMode_1.init()">City Guessing</li>
        <li class="menuButton" onclick="gameMode_1.init()">City Guessing</li>
        <li class="menuButton" onclick="gameMode_1.init()">City Guessing</li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>
