
<div class="roundedMenu headers mountainIcon">
    <h1>Geo Guessing</h1>
</div>

<div class="roundedMenu centeredMenu Absolute-Center">
    <h2>Gamemode</h2>
    <ul id="gameModeList">

    </ul>
</div>
<div class="roundedMenu centeredMenuHighScore Absolute-Center">
    <ul>
        <li class="menuButton noLinebreak" onclick="renderManager.loadGlobalHighScoreList()">HighScore</li>
    </ul>
</div>

<div class="roundedMenu" id="mainMenuUserList">
    <h2>Players</h2>
    <ul>
    </ul>
</div>

<div id="versionDisplay">
</div>
