# Created by https://www.gitignore.io

.idea/

### Reciever ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

Receiver/*.iml

## Directory-based project format:
Receiver/.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
Receiver/*.ipr
Receiver/*.iws

## Plugin-specific files:

# IntelliJ
Receiver/out/

# mpeltonen/sbt-idea plugin
Receiver/.idea_modules/

# JIRA plugin
Receiver/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Receiver/com_crashlytics_export_strings.xml
Receiver/crashlytics.properties
Receiver/crashlytics-build.properties



### AndroidSender ###
AndroidSender/.gradle/
AndroidSender/local.properties
AndroidSender/.idea/
AndroidSender/build
AndroidSender/*/*/build/
AndroidSender/*.map
AndroidSender/*.md5

# .DS_Store for Mac
.DS_Store