# Created by https://www.gitignore.io


### Reciever ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

Reciever/*.iml

## Directory-based project format:
Reciever/.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
Reciever/*.ipr
Reciever/*.iws

## Plugin-specific files:

# IntelliJ
Reciever/out/

# mpeltonen/sbt-idea plugin
Reciever/.idea_modules/

# JIRA plugin
Reciever/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
Reciever/com_crashlytics_export_strings.xml
Reciever/crashlytics.properties
Reciever/crashlytics-build.properties



### AndroidSender ###
AndroidSender/.gradle/
AndroidSender/local.properties
AndroidSender/.idea/
AndroidSender/build
AndroidSender/*/*/build/
AndroidSender/*.map
AndroidSender/*.md5


# .DS_Store for Mac
.DS_Store