
html, body, #map-canvas, #gameOverlay {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 3vh;
    color: #000000;
}
#gameOverlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}


.roundedMenu {
    position: absolute;
    box-sizing: border-box;
    border-top: 0.2vh solid #dddddd;
    border-left: 0.2vh solid #dddddd;
    border-bottom: 0.2vh solid #4f4f4f;
    border-right: 0.2vh solid #4f4f4f;
    border-radius: 2.0vh;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.70);
    background-color: rgba(218, 218, 218, 0.70);
    z-index: 1;
}
h1 {
    font-size: 7vh;
    font-weight: bold;
}
h2 {
    text-shadow: 0.1vh -0.1vh 0.0vh #555555, 0.0vh 0.1vh 0.0vh #EEEEEE;
    font-size: 5vh;
    color: #aaaaaa;
    font-weight: bold;
    margin: 1.6vh 3.6vh 4.6vh 3.6vh;
}
h3 {
    text-shadow: 0.1vh -0.1vh 0.0vh #555555, 0.0vh 0.1vh 0.0vh #EEEEEE;
    font-size: 4vh;
    color: #aaaaaa;
    font-weight: normal;
    margin: 1.6vh 3.6vh 4.6vh 3.6vh;
}

.headers {
    width: 100%;
    height: 10%;
    background-repeat: no-repeat;
    background-size: contain;

    padding-top: 1.5vh;
    padding-left: 12vh;
    font-size: 7vh;
    text-align: left;
}

.mountainIcon {
    background-image: url(../images/snowyMountain_outline.png);
}

.cityIcon {
    background-image: url(../images/city.png);
}



.menuButton {
    border-top: 0.2vh solid #dddddd;
    border-left: 0.2vh solid #dddddd;
    border-bottom: 0.2vh solid #4f4f4f;
    border-right: 0.2vh solid #4f4f4f;
    border-radius: 2.0vh;
    background-color: rgba(218, 218, 218, 0.70);
    margin: 1.1vh 3.1vh 0vh 3.1vh;
    padding: 1.1vh;
    font-size: 5vh;
    font-weight: bold;
}

.centeredMenu {
    top: 20%;
    left: 33%;
    width: 33%;
    height: 60%;
}

#mainMenuUserList {
    top: 20%;
    right: 1%;
    height: 60%;
    width: 20%;
}
#mainMenuUserList > ul > li {
    background-repeat: no-repeat;
    background-size: contain;

    margin: 1.5vh 3vh;
    font-size: 3vh;
    padding-left: 4vh;
    text-align: left;
}
.admin {
    background-image: url(../images/userAdmin.png);
}
.user {
    background-image: url(../images/user.png);
}

#midScreenMessage {
    position: absolute;
    box-sizing: border-box;
    top: 30%;
    left: 0;
    width: 100%;
    height: 8vh;
    font-size: 8vh;
    color: #ffd996;
    text-shadow: 0.0vh 0.0vh 3.3vh #000000;
    font-weight: bold;
    padding: 0;
    border: 0;
    text-align: center;
    z-index: 3;
}
#bottomScoreboard {
    bottom: 1%;
    left: 0;
    width: 100%;
    height: 7%;
    text-align: left;
    display: flex;
    vertical-align: middle;
}
#bottomScoreboard > table {
    table-layout:fixed;
}
#bottomScoreboard > ul {
    padding: 2.2vh;
}
#bottomScoreboard > ul > li {
    display: inline;
    list-style-type: none;

    background-repeat: no-repeat;
    background-size: contain;

    margin: 1.5vh 3vh;
    font-size: 3vh;
    padding-left: 4vh;
    text-align: left;
}
.userName {
    padding-left: 6vh;
    padding-right: 1vh;
    color: #eabc78;
    font-weight: bold;
}

.score {
    font-weight: bold;
    color: #017c00;
}


/*
#bottomScoreboard > ul {
    list-style: none;
}
#bottomScoreboard > ul:after {
    clear: both;
}
#bottomScoreboard > ul > li {
    display: block;
    float: left;
    padding-left: 10px;
    margin-right: 50px;
    margin-top: 10px;
    height: 60px;
    width: 150px;
    font-size: larger;
}
*/








#testConsole {
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 40%;

    background-color: rgba(30, 30, 30, 0.0);
    font-size: 2vh;

    display: table-cell;
    vertical-align: bottom;
}
#testConsole > input {
    font-family: "Arial Narrow",sans-serif;
    background-color: rgba(218, 218, 218, 0.40);
    cursor:pointer;
    padding: 0;
}
#testConsoleOutput {
    height: 20%;
    font-size: 2vh;
    color: #C30000;
    text-shadow: 0.0vh 0.0vh 1.3vh #FFFFFF;
    font-weight: bold;
    display: table-cell;
    vertical-align: bottom;
    text-indent: -5vh;
    padding-left: 5vh;
}
